<sly data-sly-use.title="title.js">
<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
	<div class="fusion-text">
		<h2  data-sly-element="${title.element}" style="${title.alignment @ context='styleString'};${title.marginb @ context='styleString'}">
			<span style="${title.uppercase @context='styleString'};${title.fontcolor @context='styleString'};${title.bold @ context='styleString'}">
    ${title.text}</span></h2>
	</div>
	<div class="fusion-sep-clear"></div>
	<div class="fusion-separator fusion-full-width-sep sep-single" style="border-color:#008651;border-top-width:2px;margin-left: auto;margin-right: auto;${title.underline @ context='styleString'}"></div>
	<div class="fusion-clearfix"></div> 
</div>
</sly>