.fusion-reading-box-container {
    margin-bottom: 20px !important;
}
.fusion-reading-box-container {
    z-index: 1;
    position: relative;
    margin-bottom: 84px;
}
.fusion-reading-box-container .reading-box {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
.fusion-reading-box-container .reading-box {
    padding: 28px 28px 27px 31px;
    background-color: #f2efef;
    border-left: 3px solid #a0ce4e;
}
.element-bottomshadow {
    position: relative;
}
.reading-box {
    padding: 28px 28px 27px 31px;
    border-left: 3px solid #a0ce4e;
    background: #333333;
}
.element-bottomshadow:after, .element-bottomshadow:before {
    position: absolute;
    bottom: 15px;
    left: 10px;
    z-index: -1;
    height: 20%;
    max-height: 100px;
    max-width: 460px;
    width: 60%;
    content: "";
    opacity: .7;
    box-shadow: 0 17px 10px rgba(0,0,0,.7);
    -webkit-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}
.reading-box-container-1 .element-bottomshadow:before, .reading-box-container-1 .element-bottomshadow:after {
    opacity: 0.7;
}
.element-bottomshadow:after {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
}

.fusion-clearfix {
    zoom: 1;
    clear: both;
}
.fusion-clearfix:after, .fusion-clearfix:before {
    content: " ";
    display: table;
}
.fusion-clearfix:after {
    clear: both;
}
.fusion-clearfix:after, .fusion-clearfix:before {
    content: " ";
    display: table;
}
.fusion-builder-row:after {
    clear: both;
    content: " ";
    display: table;
}