.content-box-heading{
    display: table-cell;
    vertical-align: middle;
    font-family: "Open Sans";
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
    padding: 0;
}

.our-process-timeline .fusion-content-boxes {
    margin-bottom: 0px !important;
}
.fusion-content-boxes {
    margin-bottom: 60px;
}
.our-process-timeline .fusion-content-boxes .fusion-column {
    /* margin-bottom: 0 !important; */
}
.fusion-content-boxes.fusion-columns-1 .fusion-column {
    margin-bottom: 40px;
}
.fusion-content-boxes .fusion-column {
    margin-bottom: 20px;
    box-sizing: border-box;
}
.fusion-content-boxes.content-boxes-timeline-vertical .content-box-column>.col {
    position: static;
}
.do-animate .fusion-content-boxes .fusion-animated {
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
    position: relative;
}
.do-animate .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.fusion-animated {
    position: relative;
    z-index: 2000;
}
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
.fusion-content-boxes.content-boxes-timeline-vertical .heading-with-icon, .fusion-content-boxes.content-boxes-timeline-vertical .heading-with-icon .heading-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: visible;
}
.fusion-content-boxes.content-boxes-icon-on-side .heading-with-icon, .fusion-content-boxes.content-boxes-icon-with-title .heading-with-icon {
    display: table;
    width: auto;
}
.fusion-content-boxes .heading {
    overflow: hidden;
    margin-bottom: 15px;
}
.col .heading {
    overflow: hidden;
    margin: 0 0 15px;
}
.fusion-content-boxes.content-boxes-timeline-vertical .content-box-column.fusion-appear .icon {
    -webkit-animation: fusionExpandAndShow 1s 1 cubic-bezier(.17,.67,.83,.67);
    animation: fusionExpandAndShow 1s 1 cubic-bezier(.17,.67,.83,.67);
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.fusion-content-boxes.content-boxes-icon-with-title .heading-with-icon .icon, .fusion-content-boxes.content-boxes-icon-with-title .heading-with-icon .image {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.fusion-content-boxes.content-boxes-timeline-vertical .icon {
    position: relative;
    z-index: 2;
}
.fusion-content-boxes.content-boxes-icon-with-title .heading-with-icon .content-box-heading {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}
.fusion-content-boxes .heading .content-box-heading {
    margin: 0;
    padding: 0;
}
.fusion-content-boxes .heading .content-box-heading, .fusion-content-boxes .heading .fontawesome-icon, .fusion-content-boxes .heading a {
    -webkit-transition: all .3s;
    transition: all .3s;
}
.fusion-content-boxes-1 .heading h2 {
    color: #333333;
}
.fusion-content-boxes .content-container {
    margin-bottom: 20px;
}
.fusion-content-boxes.content-boxes-icon-with-title .heading-with-icon .content-box-heading {
    display: table-cell;
    vertical-align: middle;
    line-height: normal;
}
.fusion-content-boxes .heading .content-box-heading {
    margin: 0;
    padding: 0;
}
.fusion-content-boxes .heading .content-box-heading, .fusion-content-boxes .heading .fontawesome-icon, .fusion-content-boxes .heading a {
    -webkit-transition: all .3s;
    transition: all .3s;
}
    .fusion-content-boxes.content-boxes-timeline-vertical .content-box-column.fusion-appear .content-box-shortcode-timeline-vertical {
    -webkit-animation: fusionExpandHeight 1s 1 cubic-bezier(.17,.67,.83,.67);
    animation: fusionExpandHeight 1s 1 cubic-bezier(.17,.67,.83,.67);
    height: -webkit-calc(100% + 40px);
    height: calc(100% + 40px);
}
        .fusion-content-boxes .content-box-shortcode-timeline-vertical {
    display: block;
    width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.fusion-content-boxes.fusion-columns-1 .fusion-column {
    margin-bottom: 40px;
}
.fusion-content-boxes-2 .fusion-content-box-hover .heading-link:hover .icon i.circle-yes, .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box:hover .heading-link .icon i.circle-yes, .fusion-content-boxes-2 .fusion-content-box-hover .link-area-link-icon-hover .heading .icon i.circle-yes, .fusion-content-boxes-2 .fusion-content-box-hover .link-area-box-hover .heading .icon i.circle-yes {
    background-color: #702f8a !important;
    border-color: #702f8a !important;
}
.fusion-content-boxes.content-boxes-icon-on-side .heading-with-icon .fontawesome-icon, .fusion-content-boxes.content-boxes-icon-with-title .heading-with-icon .fontawesome-icon {
    display: block;
    float: none;
    margin-right: 20px;
}
.fusion-clearfix:after, .fusion-clearfix:before {
    content: " ";
    display: table;
}
.fusion-clearfix:after {
    clear: both;
}
.fusion-clearfix:after, .fusion-clearfix:before {
    content: " ";
    display: table;
}
.lastitem{
	opacity:0;
}
.fusion-content-boxes .content-container {
    margin-bottom: 45px;
}