.hubspot_form ul{list-style-type:none !important;padding-left:20px !important}
.hubspot_form li{background:none !important;padding:0 !important}
.hubspot_form legend{font-size:.75em;margin-bottom:0;border-bottom:0}
.hubspot_form input[type=checkbox]{margin-right:5px !important}
.hs-form-field input,.hs-form-field label,.hs-form-field textarea{width:100%;color:#333}
.hs-form-field label{font-size:.75em;color:rgba(255,255,255,.7);margin-bottom:0;font-family:'Open Sans',sans-serif !important;font-weight:400 !important}
.hs_submit input[type=submit]{width:auto;float:right;background:rgba(1,138,94,1);color:#fff;border:0;padding:.25em 2em;margin-top:.5em;transition:all .2s ease-in-out;font-family:'Open Sans',sans-serif;font-size:1em;line-height:1.2em;border-radius:0;font-weight:300}
.hs_submit input[type=submit]:hover{background:rgba(67,183,255,1);box-shadow:none !important;border:none !important;text-shadow:none !important;}
.submitted-message{text-transform:none;color:rgba(67,183,255,1);font-weight:400;font-size:.9em;line-height:1.1em}
.hs-error-msgs{list-style-type:none;padding-left:0;font-weight:700}
input.hs-input{width:100% !important;border-radius:0 !important;padding:.5em !important;height:auto !important}
textarea.hs-input{width:100% !important;max-width:100% !important;border-radius:0 !important;padding:.5em !important}
div.input{margin-bottom:.5em}
input.hs-input[type=checkbox]{width:auto !important}
input.hs-input[type=radio]{width:auto !important;margin-right:3px !important}

