/* -------------------------------------*/
/* Carousel-Theme (Slider Elements - Bullets, Pagination, etc..) ---------*/
/* -------------------------------------*/
.owl-buttons {
    position: static;
}

.owl-carousel.white .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #fff;
}

.owl-carousel.white .owl-controls .owl-page.active span {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

.nf-carousel-theme {
}

    .nf-carousel-theme .owl-controls .owl-pagination {
        position: absolute;
        z-index: 2;
        left: 0;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    .nf-carousel-theme .owl-controls .owl-buttons .owl-prev,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        width: 31px;
        height: 31px;
        line-height: 31px;
        font-size: 16px;
        margin-top: -15px;
    }

    .content-carousel .owl-controls .owl-buttons .owl-prev,
    .content-carousel .owl-controls .owl-buttons .owl-next,
    .image-slider .owl-controls .owl-buttons .owl-prev,
    .image-slider .owl-controls .owl-buttons .owl-next,
    .fullwidth-slider .owl-controls .owl-buttons .owl-prev,
    .fullwidth-slider .owl-controls .owl-buttons .owl-next,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-prev,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        background: rgba(245,245,245,0.8);
        color: #252525;
        display: block;
        top: 50%;
        transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        z-index: 3;
        position: absolute;
        text-align: center;
    }

        .content-carousel .owl-controls .owl-buttons .owl-prev:hover,
        .content-carousel .owl-controls .owl-buttons .owl-next:hover,
        .image-slider .owl-controls .owl-buttons .owl-prev:hover,
        .image-slider .owl-controls .owl-buttons .owl-next:hover,
        .fullwidth-slider .owl-controls .owl-buttons .owl-prev:hover,
        .fullwidth-slider .owl-controls .owl-buttons .owl-next:hover,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-prev:hover,
        .nf-carousel-theme .owl-controls .owl-buttons .owl-next:hover {
            /*background: #fff;*/
            color: #dc582a;
        }

    .content-carousel .owl-controls .owl-buttons .owl-next,
    .image-slider .owl-controls .owl-buttons .owl-next,
    .fullwidth-slider .owl-controls .owl-buttons .owl-next,
    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
    }

    .nf-carousel-theme .owl-controls .owl-buttons .owl-prev {
        left: 0;
        margin-left: -51px;
        opacity: 0;
    }

    .nf-carousel-theme .owl-controls .owl-buttons .owl-next {
        right: 0;
        margin-right: -51px;
        opacity: 0;
    }

    .content-carousel:hover .owl-controls .owl-buttons .owl-prev,
    .content-carousel:hover .owl-controls .owl-buttons .owl-next,
    .image-slider:hover .owl-controls .owl-buttons .owl-prev,
    .image-slider:hover .owl-controls .owl-buttons .owl-next,
    .fullwidth-slider:hover .owl-controls .owl-buttons .owl-prev,
    .fullwidth-slider:hover .owl-controls .owl-buttons .owl-next,
    .nf-carousel-theme:hover .owl-controls .owl-buttons .owl-prev,
    .nf-carousel-theme:hover .owl-controls .owl-buttons .owl-next {
        margin-right: 0;
        margin-left: 0;
        opacity: 1;
    }


/* -------------------------------------*/
/* Singel Item slider (Images & Contant Slider) ---------*/
/* -------------------------------------*/
.content-carousel .owl-controls .owl-pagination,
.image-slider .owl-controls .owl-pagination,
.fullwidth-slider .owl-controls .owl-pagination,
.item1-carousel .owl-controls .owl-pagination {
    position: absolute;
    bottom: 0;
    z-index: 2;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
}

.content-carousel .owl-controls .owl-buttons .owl-prev,
.content-carousel .owl-controls .owl-buttons .owl-next,
.image-slider .owl-controls .owl-buttons .owl-prev,
.image-slider .owl-controls .owl-buttons .owl-next,
.fullwidth-slider .owl-controls .owl-buttons .owl-prev,
.fullwidth-slider .owl-controls .owl-buttons .owl-next {
    width: 51px;
    height: 51px;
    line-height: 51px;
    font-size: 21px;
    margin-top: -25px;
}

.content-carousel .owl-controls .owl-buttons .owl-prev,
.image-slider .owl-controls .owl-buttons .owl-prev,
.fullwidth-slider .owl-controls .owl-buttons .owl-prev {
    left: 0;
    margin-left: -51px;
    opacity: 0;
}

.content-carousel .owl-controls .owl-buttons .owl-next,
.image-slider .owl-controls .owl-buttons .owl-next,
.fullwidth-slider .owl-controls .owl-buttons .owl-next {
    right: 0;
    margin-right: -51px;
    opacity: 0;
}
