.hero-buttons {
    display: none;
    cursor: pointer;
    overflow: visible;
    color: #fff;
    background: #dc582a;
    border: none;
    text-transform: uppercase!important;
    padding: 7px 20px!important;
    display: inline-block;
    font-size: 12px!important;
    line-height: normal;
    font-weight: 600;
    /* font-family: 'Raleway', sans-serif; */
    letter-spacing: 3px;
    text-align: center;
    margin: 30px 3px;
}

.hero-buttons{
	background: #15bef0;
    text-transform: uppercase;
    color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#15bef0, endColorstr=#15bef0);
    transition: all .2s;
    border-width: 0px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-border-radius: 2px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-size: 14px!important;
}
    .hero-buttons:hover{
	background-color: #15bef0!important;
    text-decoration: none;
}

a:hover, a:focus {
    color: #ffffff;
    text-decoration: underline;
}
