.cq-dd-image{
	/*max-width: 100%;*/
	position: relative;
	width: 100%;
}
.hasimage img{
	height: 100%;
}
.cq-image-placeholder.cq-dd-image{	
	height: 0;
}


.font-16 {
    font-size: 16px;}


a.active{
	color:#dc582a!important;
}


.search-overlay-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.9);
    -webkit-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    -moz-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    -ms-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    -o-transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0s ease 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 2200;
    text-align: center;
}

.search-overlay-menu.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -ms-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.search-overlay-menu form {
    height: 120px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -60px auto 0;
    width: 60%;
    left: 20%;
    transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.search-overlay-menu input[type="search"] {
    height: 100%;
    width: 100%;
    color: #fff;
    background: transparent;
    border-top: 0px solid transparent;
    border-bottom: 2px solid #909090 !important;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 60px;
    font-weight: 300;
    outline: none;
    padding: 10px;
}

input[type="search"] {
    -webkit-appearance: none;
}
input[type=search] {
    line-height: normal;
}
input.input-sm, .input-sm {
    padding: 8px 15px;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
.form-full {
    width: 100%;
}
input, button, select, textarea {
    line-height: inherit;
}
a, area, button, [role="button"], input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
button, input {
    overflow: visible;
}


.btn i, button i, i.left {
    margin-right: 6px;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
i, cite, em, var, address, dfn {
    font-style: italic;
}
.search-overlay-menu form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-size: 52px!important;
    position: absolute;
    right: 0;
    top: 0;
    color: #c6c6c6;
}

.search-overlay-menu .search-overlay-close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 1;
    font-size: 40px;
    color: #fff;
}



@media (max-width: 650px) {
  .row {
    margin: 0 -6px;
  }
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	
.imgauto{
	width:100%!important;
     margin: auto;
}
}


.container-fluid .navbar-brand {
    margin-left: initial!important;
}






@media (max-width: 650px){
    .header .navbar-collapse.collapse.in {
   width: 90%!important;
}

}


@media (max-width: 1199px){
    .container-fluid .navbar-brand {
    margin-left: initial!important;
}
.navbar-toggle {
    display:  block!important;
    float: right;
}
    
    .navbar-header {
        width:100%;
    }
    .logo {
    float: left;
    text-align: left;
    display: inline-block;
        
}
    .header .logo a {
    margin-top: 24px;
    
    width: 96px;
    transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
        position:relative;
}
    .logo a img {
    width: 100%!important;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1) 0s;
        margin:0!important;
}
    .navbar-fixed-top .navbar-nav > li:first-child{
        display: none!important;
    }
    .header .navbar-collapse {
    position: fixed;
    left: 0;
    top: -100%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: top 0.35s;
    padding: 0;
        opacity: 0
}
    .header .navbar-collapse.collapse.in {
       position: relative;
    left: 0;
    top: 0;
    float: left;
   /* display: none;*/
   width: 100%;
    background: rgba(34,34,34,0.85);
    overflow-y: auto;
    z-index: 999;
    padding: 0;
    opacity: 1;
			height: auto;
}
    .nav-menu ul.nav-menu-inner li,.navbar-nav > li {
    display: block;
    width: 100%;
        padding:0!important;
}
    .nav-menu ul.nav-menu-inner li a, .header-fixed .nav-menu ul.nav-menu-inner li a {
    padding: 15px 12px;
    border-top: 1px solid #444;
}
   
    .header .navbar-inverse .navbar-toggle-close:hover, .header .navbar-inverse .navbar-toggle-close:focus{
        display: none!important;
    }
    .header .container {
   
    margin-left: auto;
    
}
    nav.navbar-absolute-top.navbar-inverse {
   
    background-color: transparent;
    height: 94px;
    width: 100%;
    padding: initial;
    border-bottom: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
			
			
}
    .navbar-nav .divider {
    
    display: none!important;
}
    .header .navbar-collapse.collapse.in .nav {
    display: block;
    float: left;
        width: 100%;
        padding: 0;
}
    .navbar-fixed-top .navbar-nav > li > a {
    padding: 8px 10px;
}
    .navbar-fixed-top .navbar-nav > li{
    border-bottom: 1px solid #444;
}
    .navbar-nav > li:nth-last-child(2){
        display: none;
    }
    .header .navbar-toggle-close{
        display: none!important;
    }
    .navbar-nav-subitems {
    position: relative;
    right: initial!important;
    left: initial!important;
    top: initial!important;
    opacity: 1!important;
        float:left;
        display:block;
        margin-left: 0!important;
    width: 100%;
}
}

/* agregado marcelo */
.we-Container--top-navbar{
	height: auto;
	
}
.basico{	
		margin: 0 auto!important;
    width: 1140px!important;
    max-width: 100%!important;
    padding: 0!important;
}

/* fin agregado marcelo */

.specstable li{
	list-style: none;
	padding-left: 0px;
	height: 26px;
}
.specstable ul{
	padding-left: 0px;
}
.specstable{
	margin-bottom: 15px;
}
.bannerlink{
	font-weight: bold;
	color: white;
	text-decoration: none;
	
}
.bannerlink:hover{
	color: rgb(220,88,42);
	text-decoration: none;
	}
.icon-bar{
	color: rgb(204,204,204);
}