
.fusion-footer-widget-area, .fusion-footer-widget-area .jtwt, .fusion-footer-widget-area .jtwt .jtwt_tweet, .fusion-footer-widget-area .widget li.recentcomments, .fusion-footer-widget-area .widget_archive li, .fusion-footer-widget-area .widget_categories li, .fusion-footer-widget-area .widget_layered_nav li, .fusion-footer-widget-area .widget_links li, .fusion-footer-widget-area .widget_meta li, .fusion-footer-widget-area .widget_nav_menu li, .fusion-footer-widget-area .widget_pages li, .fusion-footer-widget-area .widget_product_categories li, .fusion-footer-widget-area .widget_recent_entries li, .fusion-footer-widget-area article.col {
    color: #666666;
}
.fusion-footer-widget-area {
    background-color: #efefef;
    border-color: #e9eaee;
    border-top-width: 0px;
    padding-top: 43px;
    padding-bottom: 40px;
}

.fusion-footer-widget-area {
    overflow: hidden;
    position: relative;
    padding: 43px 0 40px;
    border-top: 12px solid #e9eaee;
    background: #363839;
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.fusion-footer-copyright-area {
    z-index: 10;
    position: relative;
    padding: 18px 10px 12px;
    border-top: 1px solid #4b4c4d;
    background: #282a2b;
}
.fusion-footer-copyright-area {
    background-color: #003865;
    border-color: #4b4c4d;
    border-top-width: 0px;
    padding-top: 18px;
    padding-bottom: 16px;
}

.fusion-footer-copyright-area > .fusion-row, .fusion-footer-widget-area > .fusion-row {
    padding-left: 0px;
    padding-right: 0px;
}
.fusion-copyright-content {
    display: table;
    width: 100%;
}
.fusion-copyright-notice {
    color: #dddddd;
    font-size: 12px;
}
.fusion-copyright-notice {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 12px;
}
.fusion-copyright-notice a {
    color: #ffffff;
}

.fusion-social-links-footer {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    text-align: right;
}
.fusion-columns {
    margin: 0 -15px;
}
.fusion-columns-4 .fusion-column:nth-of-type(4n+1), .fusion-columns-4 .fusion-flip-box-wrapper:nth-of-type(4n+1) {
    clear: both;
}
.fusion-footer-widget-column {
    margin-bottom: 50px;
}
.fusion-footer-widget-column:last-child {
    margin-bottom: 0;
}
.fusion-footer-widget-area ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.fusion-footer-widget-area .widget_nav_menu>div>ul>li:first-child {
    padding-top: 0;
}
.fusion-widget-area .widget .recentcomments, .fusion-widget-area .widget_archive li, .fusion-widget-area .widget_categories li, .fusion-widget-area .widget_layered_nav li, .fusion-widget-area .widget_links li, .fusion-widget-area .widget_meta li, .fusion-widget-area .widget_nav_menu li, .fusion-widget-area .widget_pages li, .fusion-widget-area .widget_product_categories li, .fusion-widget-area .widget_recent_entries li {
    display: block;
    padding: 10px 10px 10px 12px;
    border-bottom: 1px solid #e7e6e6;
    color: #333;
    position: relative;
}
.fusion-footer-widget-area {
    background-color: #efefef;
    border-color: #e9eaee;
    border-top-width: 0px;
    padding-top: 43px;
    padding-bottom: 40px;
}
#slidingbar-area .slide-excerpt h2, #slidingbar-area ul, .counter-box-content, .fusion-alert, .fusion-blog-layout-timeline .fusion-timeline-date, .fusion-footer-widget-area .slide-excerpt h2, .fusion-footer-widget-area ul, .fusion-progressbar .progress-title, .gform_wrapper .gfield_description, .gform_wrapper label, .jtwt .jtwt_tweet, .post-content blockquote, .project-content .project-info h4, .review blockquote q, .sidebar .jtwt .jtwt_tweet, .sidebar .slide-excerpt h2, body {
    font-size: 16px;
}
#main .fusion-row, #slidingbar-area .fusion-row, .fusion-footer-copyright-area .fusion-row, .fusion-footer-widget-area .fusion-row, .fusion-page-title-row, .tfs-slider .slide-content-container .slide-content {
    max-width: 1100px;
}
.fusion-row{
        margin:auto;
    }
    .widget .fusion-social-networks.boxed-icons .fusion-social-network-icon {
    margin: 0 3.5px 10px;
}
    .fusion-social-networks.boxed-icons .fusion-social-network-icon {
    margin: 0 5px 10px;
    padding: 8px;
    background-color: #46494a;
    border: none;
    border-radius: 3px;
    background-clip: inherit;
    border: 1px solid #46494a;
    color: #fff;
    text-decoration: none;
}
    #wrapper .fusion-footer-widget-area .jtwt .jtwt_tweet a:hover, .fusion-footer-widget-area .fusion-accordian .panel-title a:hover, .fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .post-holder a:hover, .fusion-footer-widget-area .widget a:hover, .fusion-footer-widget-area .widget li a:hover:before, .fusion-footer-widget-area .widget li.recentcomments:hover:before, .fusion-footer-widget-area ul li a:hover {
    color: #333333;
}
        .fa {
    color: inherit;
}
[class*=" fusion-icon-"], [class^=fusion-icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

            .fusion-footer-widget-area, .fusion-footer-widget-area .jtwt, .fusion-footer-widget-area .jtwt .jtwt_tweet, .fusion-footer-widget-area .widget li.recentcomments, .fusion-footer-widget-area .widget_archive li, .fusion-footer-widget-area .widget_categories li, .fusion-footer-widget-area .widget_layered_nav li, .fusion-footer-widget-area .widget_links li, .fusion-footer-widget-area .widget_meta li, .fusion-footer-widget-area .widget_nav_menu li, .fusion-footer-widget-area .widget_pages li, .fusion-footer-widget-area .widget_product_categories li, .fusion-footer-widget-area .widget_recent_entries li, .fusion-footer-widget-area article.col {
    color: #666666;
}
            .fusion-widget-area .widget .recentcomments, .fusion-widget-area .widget_archive li, .fusion-widget-area .widget_categories li, .fusion-widget-area .widget_layered_nav li, .fusion-widget-area .widget_links li, .fusion-widget-area .widget_meta li, .fusion-widget-area .widget_nav_menu li, .fusion-widget-area .widget_pages li, .fusion-widget-area .widget_product_categories li, .fusion-widget-area .widget_recent_entries li {
    display: block;
    padding: 10px 10px 10px 12px;
    border-bottom: 1px solid #e7e6e6;
    color: #333;
    position: relative;
}
            .fusion-footer-widget-area .fusion-footer-widget-column:not(.widget_icl_lang_sel_widget) ul:first-child>li:first-child>a, .fusion-footer-widget-area .fusion-footer-widget-column:not(.widget_icl_lang_sel_widget)>ul>li:first-child>a {
    background-image: none;
    padding-top: 0;
}
                .fusion-footer-widget-area ul li a {
    display: block;
    position: relative;
}
            .fusion-footer-widget-area .fusion-accordian .panel-title a, .fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li a, .fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-date-box, .fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .post-holder a, .fusion-footer-widget-area .jtwt .jtwt_tweet a, .fusion-footer-widget-area .widget li a:before, .fusion-footer-widget-area a {
    color: #666666;
}
                .fusion-main-menu>ul>li>a .fusion-menu-description, a, a:after, a:before {
    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
                li {
    display: list-item;
    text-align: -webkit-match-parent;
}
                .fusion-footer-widget-area .fusion-accordian .fusion-panel, .fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-classic, .fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-tabs-widget-items li, .fusion-footer-widget-area .product_list_widget li, .fusion-footer-widget-area .tagcloud a, .fusion-footer-widget-area .widget li.recentcomments, .fusion-footer-widget-area .widget_archive li, .fusion-footer-widget-area .widget_categories li, .fusion-footer-widget-area .widget_layered_nav li, .fusion-footer-widget-area .widget_links li, .fusion-footer-widget-area .widget_meta li, .fusion-footer-widget-area .widget_nav_menu li, .fusion-footer-widget-area .widget_pages li, .fusion-footer-widget-area .widget_product_categories li, .fusion-footer-widget-area .widget_recent_entries li, .fusion-footer-widget-area ul li {
    border-color: #505152;
}
            #slidingbar-area .slide-excerpt h2, #slidingbar-area ul, .counter-box-content, .fusion-alert, .fusion-blog-layout-timeline .fusion-timeline-date, .fusion-footer-widget-area .slide-excerpt h2, .fusion-footer-widget-area ul, .fusion-progressbar .progress-title, .gform_wrapper .gfield_description, .gform_wrapper label, .jtwt .jtwt_tweet, .post-content blockquote, .project-content .project-info h4, .review blockquote q, .sidebar .jtwt .jtwt_tweet, .sidebar .slide-excerpt h2, body {
    font-size: 16px;
}
.fusion-columns{

    margin-left: 8.20%;
}

.wistia-video-embed .wistia-embed{position:relative;max-width:950px;margin:auto;white-space:normal}
.wistia-video-embed .wistia-embed a{display:block}
.wistia-video-embed .wistia-embed img{width:100%;max-width:100%;height:auto;transition:all ease-in-out 2s}
.wistia-video-embed .wistia-embed img.nolink{filter:saturate(100%)}
.wistia-video-embed .wistia-embed:hover img{filter:saturate(120%)}
.sidebar .wistia-embed{margin:30px 0}
.wistia-video-embed{position:relative}
.wistia-video-embed .wrapper{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.25);transition:all ease-in-out .5s}
.wistia-video-embed .wrapper:hover{background:rgba(128,128,128,.0)}
.wistia-video-embed .wrapper.hasicon:after{position:absolute;content:'';opacity:.8;height:30%;width:30%;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);transition:all ease-in-out .25s}
.wistia-video-embed:hover .wistia-embed .wrapper.hasicon:after{opacity:.9;height:33%;width:33%;-webkit-filter:drop-shadow(0 0 7px rgba(0,0,0,.5));filter:drop-shadow(0 0 7px rgba(0,0,0,.5))}
.wistia-video-embed .wrapper.videoicon:after{background:url(/content/dam/jabildotcom/play-circle-white.svg) no-repeat center;background-size:auto 100%}
.wistia-video-embed .wrapper.nolink{background:0}
.wistia-video-embed .text-wrap{margin-bottom:15px;color:#333333;width:100%;font-weight:bold;font-size: 13px;margin-top: .67em;margin-bottom: 2.33em;
    line-height: 1.5;}

.fusion-header-wrapper .fusion-row {
    padding-left: 5.8%;
    max-width: none;
}
@media (max-width: 600px) {
    .title-heading-left{
        font-size: 44px!important;
        line-height: 57px!important;
    }

    .fusion-columns {
        margin: 0 8.20%;
    }
}
.fusion-button.button-1 {
    background: rgba(21,190,240,0)!important;
    border-width: 2px!important;
    border-color: #ffffff!important;
    text-decoration:none!important;
}
.fusion-button.button-1:hover, .button-1:focus, .fusion-button.button-1:active {
    background: #03a9f4!important;
}
.fusion-body .button-pill, .fusion-body .fusion-button-pill, .fusion-button-pill {
    -webkit-border-radius: 25px!important;
    border-radius: 25px!important;
}
.fusion-button.button-1:hover, .fusion-button.button-1:focus, .fusion-button.button-1:active {
    border-width: 2px!important;
    border-color: #ffffff!important;
}
.fusion-button.button-1:hover .fusion-button-text, .fusion-button.button-1:hover i, .fusion-button.button-1:focus .fusion-button-text, .fusion-button.button-1:focus i, .fusion-button.button-1:active .fusion-button-text, .fusion-button.button-1:active {
    color: #ffffff!important;
}
.content-box-heading:hover{
	color:#03a9f4;
}

.hero-buttons:hover {
    opacity:0.8;
}
.hero-buttons.orange{
	    background: #ff9800;
}
.hero-buttons.orange:hover{
	    background: #ff9800!important;
}


.hero-buttons {
    padding: 13px 29px!important;
}
@media screen and (max-width: 600px){

    .title-heading-left span {
        font-size: 0.8em!important;
    }
    .tileitem  {
        float:none!important;
        max-width:100%!important;
        margin-bottom:20px!important;
        margin-right:0!important;

    }
    .tileitem img {
        max-width:100%!important;
        margin:auto;

    }
    .mt-60 {
        margin-top: 0!important;
    }
    .fusion-no-small-visibility {
            display: block !important;
            padding-top:20px!important;
            padding-bottom:0!important;
        }
    .title-heading-left {
        font-size: 2em!important;
        line-height: 1em!important;
    }
    .title {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}
.table-1 td, .table-1 th, .tkt-slctr-tbl-wrap-dv td, .tkt-slctr-tbl-wrap-dv th {
     white-space: inherit;
}
}
        .container-fluid .pagebody{
padding:0!important;
            }
div.image {
    margin-bottom:0;
}
.fusion-columns {
    margin-left: 6%;
}

    .tiles ul{
    	padding:0;
	}
.imgitem{
	width:100%!important;
}
.fusion-no-medium-visibility {
    display: block !important;
}
@media screen and (max-width: 600px){
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
}
.row {
    margin-left: 0!important;
    margin-right: 0!important;
}
.mr-60 {
    padding-right: 0!important;
}

.ml-60 {
    padding-left: 0!important;
}

.hasimage{
	background-size:100%!important}
}

[class*=" fusion-icon-"], [class^=fusion-icon-] {
    font-family: "FontAwesome"!important;
}
.fusion-open-submenu:before {
    display: block;
    margin: 0;
    content: '\f105';
    font-family: "FontAwesome";
}
}
.fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_links li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_recent_entries li a:before {
    font-family: "FontAwesome"!important;
}
.fusion-footer-widget-area .widget .recentcomments:before, .fusion-footer-widget-area .widget_archive li a:before, .fusion-footer-widget-area .widget_categories li a:before, .fusion-footer-widget-area .widget_links li a:before, .fusion-footer-widget-area .widget_meta li a:before, .fusion-footer-widget-area .widget_nav_menu li a:before, .fusion-footer-widget-area .widget_pages li a:before, .fusion-footer-widget-area .widget_recent_entries li a:before {
    position: absolute;
    font-family: "FontAwesome"!important;
    content: '\f105';
    margin-left: -12px;
}
