#fusion-gmap-container, #main, #sliders-container, #wrapper, .fusion-separator .icon-wrapper, body, html {
    background-color: #ffffff;
}

#sliders-container {
    position: relative;
}
.fusion-slider-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.main-flex {
    margin-bottom: 0;
}
.flexslider {
    margin: 0 0 60px;
    background-color: transparent;
    position: relative;
}
.flexslider {
    margin: 0;
    padding: 0;
}
.tfs-slider {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    left: 0;
}
    .flex-control-nav, .flex-direction-nav, .flexslider .slides {
    z-index: 2;
}
    .flexslider .slides {
    overflow: hidden;
}
    .flex-control-nav, .flex-direction-nav, .flexslider .slides {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1000;
}
    .flexslider .slides li {
    display: none;
    -webkit-backface-visibility: hidden;
    margin: 0;
}
    .tfs-slider .slide-content-container {
    margin-top: 50px;
}
    #main, .fusion-footer-copyright-area, .fusion-footer-widget-area, .fusion-page-title-bar, .fusion-secondary-header, .fusion-sliding-bar-position-bottom .fusion-sliding-bar, .fusion-sliding-bar-position-top .fusion-sliding-bar, .header-v4 #small-nav, .header-v5 #small-nav, .sticky-header .sticky-shadow, .tfs-slider .slide-content-container {
    padding-left: 30px;
    padding-right: 30px;
}
    .tfs-slider .slide-content-container {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0;
    z-index: 5;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
    #main .fusion-row, #slidingbar-area .fusion-row, .fusion-footer-copyright-area .fusion-row, .fusion-footer-widget-area .fusion-row, .fusion-page-title-row, .tfs-slider .slide-content-container .slide-content {
    max-width: 1100px;
}
    .tfs-slider .slide-content-container .slide-content {
    opacity: 0;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 940px;
}
    .tfs-slider .slide-content-container .heading {
    margin: 0 0 14px;
}
    .tfs-slider .slide-content-container .caption, .tfs-slider .slide-content-container .heading {
    display: block;
}
.tfs-slider .slide-content-container .fusion-title-sc-wrapper {
    display: inline-block;
    padding: 0;
    line-height: 1;
}
.tfs-slider .slide-content-container .fusion-sep-none {
    display: inline-block;
}
.tfs-slider .slide-content-container .fusion-title {
    overflow: visible;
}
.fusion-title.fusion-sep-none .title-heading-left {
    padding: 0;
    text-align: left;
}
.fusion-modal h1, .fusion-page-title-bar h1, .fusion-title h1, .fusion-widget-area h1, .post-content h1 {
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0px;
    font-style: normal;
}
.tfs-slider .background-image {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.tfs-slider .background {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
    max-width: 100%;
}
#main .fusion-row, #slidingbar-area .fusion-row, .fusion-footer-copyright-area .fusion-row, .fusion-footer-widget-area .fusion-row, .fusion-page-title-row, .tfs-slider .slide-content-container .slide-content {
    max-width: 1100px;
}