@charset "UTF-8";

@font-face {
  font-family: "kasalis";
  src:url("../fonts/kasalis.eot");
  src:url("../fonts/kasalis.eot?#iefix") format("embedded-opentype"),
    url("../fonts/kasalis.woff") format("woff"),
    url("../fonts/kasalis.ttf") format("truetype"),
    url("../fonts/kasalis.svg#kasalis") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kasalis" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kasalis" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-active-alignment:before {
  content: "\61";
}
.icon-adaptive-intelligence:before {
  content: "\62";
}
.icon-alignment-equipment-manufacturing:before {
  content: "\63";
}
.icon-camera-module-assembly:before {
  content: "\64";
}
.icon-optical-tests:before {
  content: "\65";
}
.icon-expertise-experience:before {
  content: "\66";
}
.icon-high-volume:before {
  content: "\67";
}
.icon-manufacturing-six-sigma:before {
  content: "\68";
}
.icon-design:before {
  content: "\69";
}
.icon-fast:before {
  content: "\6a";
}
.icon-increased-yield:before {
  content: "\6b";
}
.icon-3d-sensors:before {
  content: "\6c";
}
.icon-tablet-mobile:before {
  content: "\6d";
}
.icon-robotics-b:before {
  content: "\6e";
}
.icon-global-program-management:before {
  content: "\6f";
}
.icon-reliability-durability:before {
  content: "\70";
}
.icon-happy-customers:before {
  content: "\71";
}
.icon-faster-time-to-market:before {
  content: "\72";
}
.icon-brand-reputation:before {
  content: "\73";
}
.icon-camera-module:before {
  content: "\74";
}
.icon-promises:before {
  content: "\75";
}
.icon-packing:before {
  content: "\76";
}
.icon-ethics:before {
  content: "\77";
}
