.fusion-checklist, ul.fusion-checklist {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}
.fusion-checklist .fusion-li-item:first-child, .fusion-checklist.fusion-404-checklist>li:first-child, ul.fusion-checklist .fusion-li-item:first-child, ul.fusion-checklist.fusion-404-checklist>li:first-child {
    padding-top: 0;
}
.fusion-checklist .fusion-li-item, .fusion-checklist.fusion-404-checklist>li, ul.fusion-checklist .fusion-li-item, ul.fusion-checklist.fusion-404-checklist>li {
    padding:5px 0;
    margin-left: 0;
}
.fusion-checklist-1 li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.fusion-checklist .circle-yes, ul.fusion-checklist .circle-yes {
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.fusion-checklist .icon-wrapper, ul.fusion-checklist .icon-wrapper {
    display: table;
    float: left;
}
    .fusion-checklist, ul.fusion-checklist {
    list-style-type: none;
    padding: 0 0 20 0
    margin: 10px 0 0;
}
    .fusion-checklist .fusion-li-icon, ul.fusion-checklist .fusion-li-icon {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
    .fa, .fas {
    font-family: 'FontAwesome';
    font-weight: 900;
}
 .fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

 p {
    color: #333333!important;
}