body{
    font-family: 'Open Sans', sans-serif!important;
    
}

a{
    font-family: 'Open Sans', sans-serif;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#nav ul li ul li a, #reviews #comments > h2, #side-header .fusion-contact-info, #side-header .header-social .top-menu, #sticky-nav ul li ul li a, #wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a, .avada-container h3, .comment-form input[type="submit"], .ei-title h3, .fusion-accordian .panel-body, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .price, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content a, .fusion-main-menu .sub-menu, .fusion-main-menu .sub-menu li a, .fusion-megamenu-widgets-container, .fusion-megamenu-wrapper .fusion-megamenu-submenu > a:hover, .fusion-megamenu-wrapper li .fusion-megamenu-title-disabled, .fusion-page-title-bar h3, .gform_page_footer input[type=button], .meta .fusion-date, .more, .post-content blockquote, .review blockquote div strong, .review blockquote q, .ticket-selector-submit-btn[type=submit], body {
    line-height: 1.5;

    letter-spacing: 0px;
}
.aem-GridColumn {
    padding: 0!important;
}
.hero1{
    padding-left:0!important;
    }

.hero2{
	margin-top: 0px; 
    opacity: 1;
    margin-left: 8.33%;
    max-width: 3000px!important;
}
.spec-table th {
    padding: 6px !important;
}
.table-1 table th, .tkt-slctr-tbl-wrap-dv table th {
    border: 1px solid #dcdcdc;
    background: #f6f6f6;
    padding: 6px!important;
    text-align: left;
    font-size:14px;
}

.table-1 tr td, .tkt-slctr-tbl-wrap-dv tr td {
    border: 1px solid #dcdcdc;
    padding: 6px!important;
    font-size: 14px;
}

.table-1 tr td ul, .tkt-slctr-tbl-wrap-dv tr td ul{
    margin-left:-20px;
}
.magnificar img{
	transform-origin: 50%;
	max-width: 120%;
	max-height:120%;
	width: 100%;
	height: 100%;
	
}


.magnificar img{
    width:200px;
    height:200px;
    float:left;
    position: relative;
}
.magnificar img:hover { 
   z-index:1; 
}
.post-content p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 16px;
    color: #333333;
    line-height: 1.5;

}
.fusion-text p {
	margin:0;
}
.hasimage-shadow img{
    transform: scale(0.9);
    transform-origin: center;
    transition: all 0.5s;
}
.hasimage-shadow img:hover{
    transform: scale(0.95);
    -webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
}

.wistia_click_to_play {width: 100% !important; height: 100% !important;}

.fusion-main-menu .fusion-dropdown-menu .sub-menu li a,
.fusion-main-menu .sub-menu li a,
.fusion-megamenu-wrapper li .fusion-megamenu-title-disabled {
    text-decoration: none;
}