.fusion-layout-column .fusion-column-wrapper {
    min-height: 1px;
}
.fusion-text {
    font-family: "Open Sans"!important;
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
}

.fusion-text h1, .fusion-text h2, .fusion-text h3 {
    margin-bottom: 5px;
    color: #333;
    margin: 0 0 20px;    
    font-family: "Open Sans"!important;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
}
.fusion-text h2{
	font-size: 48px;

}

.fusion-text h3{
	font-size: 34px;
    font-weight: 300!important;

}


.fusion-text h4{
	font-size: 24px;
    font-weight: 300!important;

}

.fusion-sep-clear {
    clear: both;
    display: block;
    height: 1px;
    font-size: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}
div.fusion-separator.fusion-full-width-sep.sep-single {
    max-width: 130px;
    margin-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 40px;
}
.fusion-body .fusion-content-sep.sep-single, .fusion-body .fusion-separator.sep-single {
    height: auto;
    border-top-width: 1px;
    border-bottom-width: 0;
}
.fusion-separator {
    border: 0 solid #e7e6e6;
    clear: both;
    position: relative;
    z-index: 11;
}
