<sly data-sly-use.title="youtube.js">
<p><strong>${title.desc}</strong></p>
    <div class="vidcontainer">
<iframe src="//www.youtube.com/embed/${title.text}" 
frameborder="0" allowfullscreen class="videoss"></iframe>
</div>


</sly>