  <sly data-sly-use.textImage="textimage.js" data-sly-use.emptyRenderer="emptytextimage.html" data-sly-call="${emptyRenderer.emptyTextImageTemplate @ textImage=textImage}" />

<a href="${textImage.link}" style="text-decoration: none">
<div>
  <div data-sly-test="${textImage.hasContent}">
    <div data-sly-resource="${'image' @ resourceType='wcm/foundation/components/image', wcmmode='disabled'}" style="position: relative;overflow: hidden;display: block;" class="hasimage-shadow">
    </div>
  </div>
  	<div class="fusion-text">
      <p style="text-align: center;">
        <em>${textImage.titulo}</em>
      </p>
	</div>

</div>
</a>
