<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PT7DH3K"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->



<div class="container-fluid we-Container--main ">
	<div class="root responsivegrid row">
		<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

			<div class="header aem-GridColumn aem-GridColumn--default--12" data-sly-include="header.html"></div>

            <div class="hero-image image parbase aem-GridColumn aem-GridColumn--default--12">
                <div class="row">
                	<div data-sly-resource="${'hero-home' @resourceType='chadautomation/components/structure/hero-home'}"></div>
                </div>
            </div>

            <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
                <div class="aem-GridColumn aem-GridColumn--default--12">
                    <div class="row">
                    	<div data-sly-resource="${'responsivegrid' @ resourceType='wcm/foundation/components/responsivegrid'}"></div>
                    </div>
                </div> 
            </div>

			<div class="footer aem-GridColumn aem-GridColumn--default--12" data-sly-include="footer.html"></div>
		</div>
	</div>
</div>


