<!--/* Include the site client libraries (loading only the CSS in the header, JS will be loaded in the footer) */-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PT7DH3K');</script>
<!-- End Google Tag Manager -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.jabil.com/content/dam/jabildotcom/apple-touch-icon.png"/>
<link rel="icon" type="image/png" sizes="32x32" href="https://www.jabil.com/content/dam/jabildotcom/favicon-32x32.png"/>
<link rel="icon" type="image/png" sizes="16x16" href="https://www.jabil.com/content/dam/jabildotcom/favicon-16x16.png"/>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='chadautomation.all'}" />