<div id="sliders-container" data-sly-use.hero="hero.js" style="">
	<div id="fusion-slider-20" class="fusion-slider-container fusion-slider-53 full-width-slider-container" style="height: 300px; max-width: 100%; max-height: 300px;">
		<style type="text/css" scoped="scoped">
			#fusion-slider-20 .flex-direction-nav a {
				width: 63px;
				height: 63px;
				line-height: 63px;
				font-size: 25px;
			}
		</style>
		<div class="tfs-slider flexslider main-flex full-width-slider" style="max-width: 100%; height: 300px;" data-slider_width="100%" data-slider_height="300px" data-slider_content_width="" data-full_screen="0" data-slider_indicator="" data-slider_indicator_color="#ffffff" data-parallax="0" data-nav_arrows="0" data-nav_box_width="63px" data-nav_box_height="63px" data-nav_arrow_size="25px" data-autoplay="1" data-loop="1" data-orderby="rand" data-order="ASC" data-animation="fade" data-slideshow_speed="5000" data-animation_speed="850" data-typo_sensitivity="1" data-typo_factor="1.5" data-slider_id="20">
			<ul class="slides" style="max-width:100%;">
				<li data-mute="yes" data-loop="yes" data-autoplay="yes" class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
					<div class="slide-content-container slide-content-left hero1">
						<div class="slide-content hero2" style="margin-top: 0px; opacity: 1;margin-left: 8.33%;max-width: 3000px!important;">
							<div class="heading ">
								<div class="fusion-title-sc-wrapper" style="">
									<div class="fusion-title title fusion-sep-none fusion-title-size-one fusion-border-below-title" style="margin-top:0px;margin-bottom:0px;">
										<h1 class="title-heading-left animated" style="color:#fff;font-size:60px;line-height:80px;" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="60" data-lineheight="80">${hero.text}</h1></div>
								</div>
							</div>
							<div class="buttons"> </div>
						</div>
					</div>
					<div class="background background-image" style="${hero.style @ context='styleString'};max-width:100%;height:300px;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.chadautomation.com/wp-content/uploads/2018/04/hero_what.jpg', sizingMethod='scale');-ms-filter:'progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.chadautomation.com/wp-content/uploads/2018/04/hero_what.jpg', sizingMethod='scale')';" data-imgwidth="1600"> </div>
				</li>
			</ul>
		</div>
	</div>
</div>