<style>
	.title-heading-left{
		opacity:1;
	}
</style>
<div class="post-content"  data-sly-use.hero="hero-home.js"  >
<div class="fusion-fullwidth fullwidth-box fusion-parallax-none nonhundred-percent-fullwidth non-hundred-percent-height-scrolling fusion-no-small-visibility fusion-no-medium-visibility" style="background-color: rgba(255,255,255,0);${hero.style @ context='styleString'};background-position: center center;background-repeat: no-repeat;padding-top:200px;padding-right:30px;padding-bottom:100px;padding-left:30px;margin-bottom: 40px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;">
	<div class="fusion-builder-row fusion-row ">
		<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last 1_1" style="margin-top:0px;margin-bottom:20px;">
			<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
				<div class="fusion-title title fusion-sep-none fusion-title-size-one fusion-border-below-title" style="margin-top:0px;margin-bottom:31px;">
					<h1 class="title-heading-left"></h1><h1 class="title-heading-left" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="60" data-lineheight="80"
					<span style="color: #ffffff;">${hero.text}</span>
				</h1>
			</div>
			<div class="fusion-clearfix"></div>
		</div>
	</div>
	<div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_2  fusion-one-half fusion-column-first fusion-no-small-visibility 1_2" style="margin-top:0px;margin-bottom:20px;width:48%; margin-right: 4%;">
		<div class="fusion-column-wrapper" style="padding: 0px 0px 0px 0px;background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
			<div class="fusion-text">
				<h4 class="title-heading-left" data-inline-fontsize="true" data-inline-lineheight="true" data-fontsize="18" data-lineheight="21">
					<span style="color: #ffffff;">${hero.subtext}</span>
				</h4>
			</div>
			<div class="fusion-button-wrapper"><style type="text/css" scoped="scoped">.fusion-button.button-1 .fusion-button-text, .fusion-button.button-1 i {color:#ffffff;}.fusion-button.button-1 {border-width:0px;border-color:#ffffff;}.fusion-button.button-1 .fusion-button-icon-divider{border-color:#ffffff;}.fusion-button.button-1:hover .fusion-button-text, .fusion-button.button-1:hover i,.fusion-button.button-1:focus .fusion-button-text, .fusion-button.button-1:focus i,.fusion-button.button-1:active .fusion-button-text, .fusion-button.button-1:active{color:#ffffff;}.fusion-button.button-1:hover, .fusion-button.button-1:focus, .fusion-button.button-1:active{border-width:0px;border-color:#ffffff;}.fusion-button.button-1:hover .fusion-button-icon-divider, .fusion-button.button-1:hover .fusion-button-icon-divider, .fusion-button.button-1:active .fusion-button-icon-divider{border-color:#ffffff;}.fusion-button.button-1{background: #7fba00;}.fusion-button.button-1:hover,.button-1:focus,.fusion-button.button-1:active{background: #92d600;}.fusion-button.button-1{width:auto;}</style>
				<a class="fusion-button button-flat fusion-button-pill button-medium button-custom button-1" target="_self" href="${hero.button1_link}">
					<span class="fusion-button-text">${hero.button1}</span></a>
				</div>
				<div class="fusion-clearfix"></div>
			</div>
		</div>
	</div>
</div>
</div>
