<header class="fusion-header-wrapper">
	<div class="fusion-header-v3 fusion-logo-left fusion-sticky-menu- fusion-sticky-logo-1 fusion-mobile-logo-  fusion-mobile-menu-design-modern">
		<div class="fusion-secondary-header">
			<div class="fusion-row">
				<div class="fusion-alignright">
					<nav class="fusion-secondary-menu" role="navigation" aria-label="Secondary Menu">
						<ul role="menubar" id="menu-top-nav" class="menu">
							<li role="menuitem" id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-27 fusion-dropdown-menu"><a href="/content/chadautomation/en/home/about-us.html" class="fusion-bar-highlight"><span class="menu-text">About Us</span></a>
								<ul role="menu" class="sub-menu">
									<li role="menuitem" id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/about-us.html" class="fusion-bar-highlight"><span>About Us</span></a></li>
									<li role="menuitem" id="menu-item-148" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-148 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/about-us/history.html" class="fusion-bar-highlight"><span>History</span></a></li>
									<li role="menuitem" id="menu-item-203" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-203 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/about-us/our-team.html" class="fusion-bar-highlight"><span>Our Team</span></a></li>
									<li role="menuitem" id="menu-item-146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-146 fusion-dropdown-submenu"><a href="https://www.jabil.com/about-us.html" class="fusion-bar-highlight" target="_blank"><span>About Jabil</span></a></li>
									<li role="menuitem" id="menu-item-399" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-399 fusion-dropdown-submenu"><a target="_blank" rel="noopener noreferrer" href="http://careers.jabil.com/job-search-results/?location=Anaheim%2C%20CA%2C%20USA&#038;latitude=33.83659319999999&#038;longitude=-117.91430120000001&#038;radius=15&#038;pg=2" class="fusion-bar-highlight"><span>Careers</span></a></li>
								</ul>
							</li>

							<li role="menuitem" id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363"><a href="/content/chadautomation/en/home/resources.html" class="fusion-bar-highlight"><span class="menu-text">Resources</span></a></li>
							<li id="menu-item-628" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-628" data-item-id="628"><a href="/content/chadautomation/en/home/news-events.html" class="fusion-bar-highlight" role="menuitem"><span class="menu-text">News &amp; Events</span></a></li>
							<li role="menuitem" id="menu-item-347" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-347"><a href="/content/chadautomation/en/home/support.html" class="fusion-bar-highlight"><span class="menu-text">Support</span></a></li>
							<li role="menuitem" id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25"><a href="/content/chadautomation/en/home/contact-us.html" class="fusion-bar-highlight"><span class="menu-text">Contact Us</span></a></li>
						</ul>
					</nav>
					<nav class="fusion-mobile-nav-holder fusion-mobile-menu-text-align-left"></nav>
				</div>
			</div>
		</div>
		<div class="fusion-header-sticky-height"></div>
		<div class="fusion-header">
			<div class="fusion-row">
				<div class="fusion-logo" data-margin-top="0" data-margin-bottom="0" data-margin-left="0px" data-margin-right="0px">
					<a class="fusion-logo-link" href="/content/chadautomation/en/home.html">

						<!-- standard logo -->
						<img src="/content/dam/chad-automation/logo_main.png" width="224" height="54" style="max-height:54px;height:auto;" alt="Jabil Chad Automation Logo" retina_logo_url="https://www.chadautomation.com/wp-content/uploads/2018/01/logo_main@2x.png" class="fusion-standard-logo" />


						<!-- sticky header logo -->
						<img src="/content/dam/chad-automation/logo_stick.png" width="150" height="36" style="max-height:36px;height:auto;" alt="Jabil Chad Automation Logo" retina_logo_url="https://www.chadautomation.com/wp-content/uploads/2018/04/logo_stick@2x.png" class="fusion-sticky-logo" />
					</a>
				</div>
				<nav class="fusion-main-menu" aria-label="Main Menu">
					<ul role="menubar" id="menu-main-nav" class="fusion-menu">
						<li role="menuitem" id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-20 fusion-dropdown-menu"><a href="/content/chadautomation/en/home/what-we-do/innovative-engineering.html" class="fusion-bar-highlight"><span class="menu-text">What We Do</span></a>
							<ul role="menu" class="sub-menu">
								<li role="menuitem" id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-50 menu-item-73 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/what-we-do/innovative-engineering.html" class="fusion-bar-highlight"><span>Innovative Engineering</span></a></li>
								<li role="menuitem" id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/what-we-do/enable-advanced-manufacturing.html" class="fusion-bar-highlight"><span>Enable Advanced Manufacturing</span></a></li>
								<li role="menuitem" id="menu-item-75" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-75 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/what-we-do/turnkey-solutions.html" class="fusion-bar-highlight"><span>Turnkey Solutions</span></a></li>
							</ul>
						</li>
						<li role="menuitem" id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-22 fusion-dropdown-menu"><a href="/content/chadautomation/en/home/capabilities/motion-control.html" class="fusion-bar-highlight"><span class="menu-text">Our Capabilities</span></a>
							<ul role="menu" class="sub-menu">
								<li role="menuitem" id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/capabilities/motion-control.html" class="fusion-bar-highlight"><span>Motion Control</span></a></li>
								<li role="menuitem" id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/capabilities/precision-alignment.html" class="fusion-bar-highlight"><span>Precision Alignment</span></a></li>
								<li role="menuitem" id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/capabilities/custom-wafer-handling.html" class="fusion-bar-highlight"><span>Custom Wafer Handling</span></a></li>
								<li role="menuitem" id="menu-item-186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/capabilities/inspection-test.html" class="fusion-bar-highlight"><span>Inspection and Test</span></a></li>
								<li role="menuitem" id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/capabilities/custom-robotics.html" class="fusion-bar-highlight"><span>Custom Robotics</span></a></li>
								<li role="menuitem" id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/capabilities/automation-software.html" class="fusion-bar-highlight"><span>Automation Software</span></a></li>
							</ul>
						</li>
						<li role="menuitem" id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21 fusion-dropdown-menu"><a href="/content/chadautomation/en/home/industries/mobile-devices.html" class="fusion-bar-highlight"><span class="menu-text">Industries we Serve</span></a>
							<ul role="menu" class="sub-menu">
								<li role="menuitem" id="menu-item-136" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-136 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/mobile-devices.html" class="fusion-bar-highlight"><span>Mobile Devices</span></a></li>
								<li role="menuitem" id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/semiconductor.html" class="fusion-bar-highlight"><span>Semiconductor</span></a></li>
								<li role="menuitem" id="menu-item-138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/ar-vr-devices.html" class="fusion-bar-highlight"><span>AR/VR Devices</span></a></li>
								<li role="menuitem" id="menu-item-139" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-139 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/solar-and-energy-devices.html" class="fusion-bar-highlight"><span>Solar and Energy Devices</span></a></li>
								<li role="menuitem" id="menu-item-140" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-140 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/automotive.html" class="fusion-bar-highlight"><span>Automotive</span></a></li>
								<li role="menuitem" id="menu-item-143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-143 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/medical-devices.html" class="fusion-bar-highlight"><span>Medical Devices</span></a></li>
								<li role="menuitem" id="menu-item-144" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-144 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/optical-assembly.html" class="fusion-bar-highlight"><span>Optical Assembly</span></a></li>
								<li role="menuitem" id="menu-item-516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-516 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/industries/wearable-technology.html" class="fusion-bar-highlight"><span>Wearable Technology</span></a></li>
							</ul>
						</li>
						<li role="menuitem" id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131 fusion-dropdown-menu"><a href="/content/chadautomation/en/home/our-difference/personalized-attention.html" class="fusion-bar-highlight"><span class="menu-text">Our Difference</span></a>
							<ul role="menu" class="sub-menu">
								<li role="menuitem" id="menu-item-255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-255 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/our-difference/personalized-attention.html" class="fusion-bar-highlight"><span>Personalized Attention</span></a></li>
								<li role="menuitem" id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/our-difference/our-process.html" class="fusion-bar-highlight"><span>Our Process</span></a></li>
								<li role="menuitem" id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133 fusion-dropdown-submenu"><a href="/content/chadautomation/en/home/our-difference/our-platforms.html" class="fusion-bar-highlight"><span>Our Platforms</span></a></li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="fusion-mobile-menu-icons">
					<a href="#" class="fusion-icon fusion-icon-bars" aria-label="Toggle mobile menu"></a>
				</div>
				<nav class="fusion-mobile-nav-holder fusion-mobile-menu-text-align-left"></nav>
			</div>
		</div>
	</div>
	<div class="fusion-clearfix"></div>
</header>
