<span data-sly-test="${wcmmode.edit}">Wistia Video Embed Container</span>

<sly data-sly-use.imageRename="${'com.pwc.imat.jabil.core.sightly.ImageName' @ dynamicURI=properties.fileReference, transform='.transform/MEDIUM/image.jpg' }"></sly>

<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>


<div class="text-wrap">
    <span data-sly-test="${ properties.title }" class="title">${ properties.title }</span><br>
    <span data-sly-test="${ properties.subtitle }" class="subtitle">${ properties.subtitle }</span>
</div>

<div class="wistia_embed wistia_async_${ properties.wistia } popover=true popoverContent=link"
	 style="position:relative;">
	<div class="wistia-embed">
		<a data-sly-use.meta="${'com.pwc.imat.jabil.core.helpers.MetaHelper' @  path=properties.fileReference}"
		   id="${properties.id ? properties.id : ''}" href="#">
			<img src="${ imageRename.getNewTransform @ context='uri' }" alt="${meta.description ? meta.description : meta.title }">
			<div class="wrapper hasicon videoicon"></div>
		</a>
	</div>
</div>
