<div class="fusion-footer">

	<footer role="contentinfo" class="fusion-footer-widget-area fusion-widget-area">
		<div>
			<div class="fusion-columns fusion-columns-4 fusion-widget-area">

				<div class="fusion-column col-lg-3 col-md-3 col-sm-3">
					<section id="media_image-2" class="fusion-footer-widget-column widget widget_media_image"><img width="300" height="49" src="/content/dam/chad-automation/logo_footer@2x-300x49.png" class="image wp-image-91  attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" sizes="(max-width: 300px) 100vw, 300px">
						<div style="clear:both;"></div>
					</section>
					<section id="custom_html-3" class="widget_text fusion-footer-widget-column widget widget_custom_html">
						<div class="textwidget custom-html-widget">
							<p style="font-size: 12px;">
								Jabil Chad Automation is a division of Jabil.
							</p>
							<p style="font-size: 12px;">
								Jabil’s engineering, manufacturing and intelligent supply chain solutions help you capitalize on accelerated change and achieve digital business advantage.
							</p>
							<p>
								<a href="http://www.jabil.com" style="color: #15bef0;">www.jabil.com</a>
							</p>
						</div>
						<div style="clear:both;"></div>
					</section>
				</div>
				<div class="fusion-column col-lg-3 col-md-3 col-sm-3">
					<section id="nav_menu-3" class="fusion-footer-widget-column widget widget_nav_menu">
						<div class="menu-footer-nav-a-container">
							<ul id="menu-footer-nav-a" class="menu">
								<li id="menu-item-92" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-92"><a href="/content/chadautomation/en/home.html">Home</a></li>
								<li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-95"><a href="/content/chadautomation/en/home/what-we-do.html">What We Do</a></li>
								<li id="menu-item-93" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93"><a href="/content/chadautomation/en/home/capabilities.html">Capabilities</a></li>
								<li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a href="/content/chadautomation/en/home/industries.html">Industries</a></li>
								<li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-240"><a href="/content/chadautomation/en/home/our-difference.html">Our Difference</a></li>
							</ul>
						</div>
						<div style="clear:both;"></div>
					</section>
				</div>
				<div class="fusion-column col-lg-3 col-md-3 col-sm-3">
					<section id="nav_menu-4" class="fusion-footer-widget-column widget widget_nav_menu">
						<div class="menu-footer-nav-b-container">
							<ul id="menu-footer-nav-b" class="menu">
								<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-98"><a href="/content/chadautomation/en/home/about-us.html">About Us</a></li>
								<li id="menu-item-100" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-100"><a href="/content/chadautomation/en/home/contact-us.html">Contact Us</a></li>
								<li id="menu-item-348" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-348"><a href="/content/chadautomation/en/home/support.html">Support</a></li>
								<li id="menu-item-264" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-264"><a target="_blank" href="http://careers.jabil.com/job-search-results/?location=Anaheim%2C%20CA%2C%20USA&amp;latitude=33.83659319999999&amp;longitude=-117.91430120000001&amp;radius=15&amp;pg=2">Careers</a></li>
							</ul>
						</div>
						<div style="clear:both;"></div>
					</section>
				</div>
				<div class="fusion-column fusion-column-last col-lg-3 col-md-3 col-sm-3">
					<section id="custom_html-4" class="widget_text fusion-footer-widget-column widget widget_custom_html">
						<div class="textwidget custom-html-widget">
							<div style="font-weight: bold; font-size: 14px; ">24 Hour Support</div>
							<div>
								<a href="mailto:chad_customer_service@jabil.com" style="font-size: 14px;">
		<i class="fa fa-fw fa-envelope"></i>
		chad_customer_service@jabil.com</a>
							</div>
							<div>
								<a href="tel:+17148014035">
		<i class="fa fa-fw fa-phone"></i>
		+1.714.801.4035</a>
							</div>

							<div style="font-weight: bold; font-size: 14px; margin-top: 1em;">General Inquiries</div>
							<div>
								<a href="mailto:Chad_Info@jabil.com" style="font-size: 14px;">
		<i class="fa fa-fw fa-envelope"></i>
		chad_info@jabil.com</a>
							</div>
							<div style="margin-bottom: -35px;">
								<a href="tel:+17149380080">
		<i class="fa fa-fw fa-phone"></i>
		+1.714.938.0080</a>
							</div>
						</div>
						<div style="clear:both;"></div>
					</section>
					<section id="custom_html-6" class="widget_text fusion-footer-widget-column widget widget_custom_html">
						<div class="textwidget custom-html-widget">
							<div style="font-weight: bold; font-size: 14px; margin-bottom: -40px;">Social Media</div>
						</div>
						<div style="clear:both;"></div>
					</section>
					<section id="social_links-widget-3" class="fusion-footer-widget-column widget social_links">
						<div class="fusion-social-networks boxed-icons">

							<div class="fusion-social-networks-wrapper">

								<a class="fusion-social-network-icon fusion-tooltip fa fa-youtube" href="https://www.youtube.com/channel/UCc5dKRmciO05pw9VsVOceyQ" title="YouTube" aria-label="YouTube" rel="" target="_self" style="border-radius:4px;padding:8px;font-size:16px;color:#60605B;background-color:#e8e8e8;border-color:#e8e8e8;">
								

								</a>


								<a class="fusion-social-network-icon fusion-tooltip fa fa-linkedin" href="https://www.linkedin.com/company/jabil-chad-automation/" title="Linkedin" aria-label="Linkedin" rel="" target="_self" style="border-radius:4px;padding:8px;font-size:16px;color:#60605B;background-color:#e8e8e8;border-color:#e8e8e8;">
		</a>



							</div>
						</div>

						<div style="clear:both;"></div>
					</section>
				</div>

				<div class="fusion-clearfix"></div>
			</div>
			<!-- fusion-columns -->
		</div>
		<!-- fusion-row -->
	</footer>
	<!-- fusion-footer-widget-area -->


	<footer id="footer" class="fusion-footer-copyright-area">
		<div class="fusion-row">
			<div class="fusion-copyright-content">

				<div class="fusion-copyright-notice" style="padding-bottom: 0px;">
					<div>
						© Copyright 2018 Jabil, Inc. All Rights Reserved | <a href="https://www.jabil.com/about-us/our-core-values/the-jabil-code/privacy" target="_blank">Privacy Policy</a> | <a href="https://www.jabil.com/about-us/our-core-values/the-jabil-code/terms" target="_blank">Terms of Use</a> | <a href="https://jabil.com/about-us/our-core-values/the-jabil-code/cookie-policy" target="_blank">Cookie Policy</a> </div>
				</div>
				<div class="fusion-social-links-footer" style="display: none;">
				</div>

			</div>
			<!-- fusion-fusion-copyright-content -->
		</div>
		<!-- fusion-row -->

		<sly data-sly-include="customfooterlibs.html" />
	</footer>
	<!-- #footer -->
</div>
<script type='text/javascript'>
/* <![CDATA[ */
var avadaHeaderVars = {"header_position":"top","header_layout":"v3","header_sticky":"1","header_sticky_type2_layout":"menu_only","side_header_break_point":"800","header_sticky_mobile":"0","header_sticky_tablet":"0","mobile_menu_design":"modern","sticky_header_shrinkage":"0","nav_height":"84","nav_highlight_border":"3","nav_highlight_style":"bar","logo_margin_top":"0","logo_margin_bottom":"0","layout_mode":"wide","header_padding_top":"0px","header_padding_bottom":"0px","offset_scroll":"full"};
/* ]]> */
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var avadaMenuVars = {"header_position":"Top","logo_alignment":"Left","header_sticky":"1","side_header_break_point":"800","mobile_menu_design":"modern","dropdown_goto":"Go to...","mobile_nav_cart":"Shopping Cart","submenu_slideout":"1"};
/* ]]> */
</script>
<script type='text/javascript'>
/* <![CDATA[ */
var avadaSidebarsVars = {"header_position":"top","header_layout":"v3","header_sticky":"1","header_sticky_type2_layout":"menu_only","side_header_break_point":"800","header_sticky_tablet":"0","sticky_header_shrinkage":"0","nav_height":"84","content_break_point":"800"};
/* ]]> */
</script>