<style>
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:300,400,500,600,700');
</style>

        
<div>
    <div class="container-fluid"  style="padding-left:0!important;padding-right:0!important;">
        <div data-sly-resource="${'site-topnav' @ resourceType='chadautomation/components/structure/site-topnav'}"></div>
        
    </div>
</div>

