<div data-sly-use.cta="cta.js"  style="${cta.alignment @ context='styleString'};${cta.mtop @ context='styleString'};${cta.mbot @ context='styleString'}">	
	<a href="${cta.button1_link}${cta.internal}" title="${cta.button1}" class="hero-buttons ${properties.style} hover"  style="${cta.fullwidth @ context='styleString'}" target="${cta.ntab}"><i class="fa-arrow-circle-right fas button-icon-left"></i>${cta.button1}</a>  
</div>