<sly data-sly-use.textImage="textimage.js" data-sly-use.emptyRenderer="emptytextimage.html" data-sly-call="${emptyRenderer.emptyTextImageTemplate @ textImage=textImage}" />

<a href="${textImage.link}" style="text-decoration: none">
	<div class="textimage-${textImage.alignment}" align="${textImage.alignment}"  >
		<div class="page-icon-top textimage-${textImage.alignment}"  style="${textImage.hasicon @context='styleString'}; height: 100px">
			<div style="margin-bottom: 15px;">
				<i style="background-color:transparent;border-color:transparent;height:auto;width: 60px;line-height:normal;color:#00abd6;font-size:60px; float:none!important" class="fontawesome-icon fa-${textImage.icon} far fas circle-no"></i>
			</div>
		</div>
		<div style="margin-bottom: 15px;">
			<h2 class="content-box-heading" style="font-size:21px;line-height:26px;">${textImage.titulo}</h2>
		</div>
		<div data-sly-test="${textImage.hasContent}" class="textimage-${textImage.alignment || 'left'} ${textImage.magnify}" style="padding-left:${textImage.left @context='styleString'};padding-right:${textImage.right @context='styleString'};">
			<div style="background: url('${ properties.fileReference @ context='uri'}') no-repeat top center; background-size: 80%; position: relative;overflow: hidden;display: block;${textImage.boxheight @context='styleString'}"
                 title="${textImage.titulo}"
				 class="${textImage.hasimage}">
			</div>
		</div>
	</div>
</a>
